html(lang="en")
    head
        title Are you ready?
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        div#root
        script(type="text/javascript").
            window.__PRELOADED_STATE__ =  !{initialState}
        script(src="/bundle.js")
